html, body {
  height: 100%;
  width: 100%;
  background-color: #25293c;
  color: white;
}

.search {
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchbox {
  font-size: 14px;
  font-family: 'Roboto Mono';
  font-weight: 700;
  color: #00ffb3;
  border: 2px solid #00ffb3;
  border-radius: 15px;
  background-color: #00ffb350;
  padding: 5px 7px 5px 7px;
  width: 25%;
  outline: 0;
  text-align: center;
}

input::placeholder {
    color: #00ffb3;
}


.extension {
  font-size: 14px;
  font-family: 'Roboto Mono';
  font-weight: 700;
  color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 15px;
  background-color: #d1d9ff50;
  padding: 2px 7px 2px 7px;
  width: 25%;
  outline: 0;
  text-align: center;
}


.wrap-collabsible {
  margin-bottom: 1.2rem 0;
  width: 100%;
  margin: auto;
  
}

input[type='checkbox'] {
  display: none;
}

.lbl-toggle {
  display: block;
  font-weight: bold;
  font-family: 'Roboto Mono';
  text-align: center;
  padding: 1rem;
  color: white;
  background: transparent;
  cursor: pointer;
  border-radius: 7px;
  transition: all 0.25s ease-out;
}

.lbl-toggle:hover {  
  opacity: 70%;
}

.lbl-toggle::before {
  content: ' ';
  display: inline-block;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;
  vertical-align: middle;
  margin-right: .7rem;
  transform: translateY(-2px);

  transition: transform .2s ease-out;
}

.toggle:checked + .lbl-toggle::before {
  transform: rotate(90deg) translateX(-3px);
}

.collapsible-content {
  max-height: 0px;
  overflow: hidden;
  transition: max-height .25s ease-in-out;
}

.toggle:checked + .lbl-toggle + .collapsible-content {
  max-height: 100vh;
}

.toggle:checked + .lbl-toggle {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.collapsible-content .content-inner {
  font-family: 'Roboto Mono';
  background: transparent;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  padding: .5rem 1rem;
  text-align: center;
}

.collapsible-content a {
  text-decoration: none;
  color: #00ffb3;
}

.collapsible-content a:hover {
  background-color: #00ffb350;
  transition: all 1s ease;
}

.content-inner {
  text-align: left;
}

.link {
  padding: 2px 7px 2px 7px;
  border: 2px solid black;
  border-radius: 15px;
  margin: 0 5px 0 5px;
  background-color: white;
}

.highlight {
  padding: 2px 7px 2px 7px;
  border: 2px solid black;
  border-radius: 15px;
  margin: 0 5px 0 5px;
  background-color: white;
}

.title {
  margin-top: 50px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  font-family: 'Roboto Mono';
  color: white;
}

.subtitle {
  padding: 2px;
  margin-bottom: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-family: 'Roboto Mono';
  opacity: 50%;
}

.subsubtitle {
  padding: 2px 7px 2px 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-family: 'Roboto Mono';
  font-weight: 700;
  color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 15px;
  background-color: #ebf4ff50;
  width: 30%;
  margin: auto;
  margin-bottom: 10px;
}

.green {
  color: #00ffb3;
  opacity: 100%;
}



button {
  background-color: transparent;
  border-radius: 10px;
  border: 1px solid transparent;
  padding: 5px;
  height: 60px;
  font-family: 'Monofett', cursive;
  font-size: 50px;
  color: #242424;
}

.footer {
  padding: 2px;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-family: 'Roboto Mono';
  color: #ffffff50;
}

.footer a {
  color: #00ffb3;
  text-decoration: none;
  margin-left: 10px;
}

.footer a:hover {
  background-color: #00ffb350;
  transition: all 1s ease;
}


@media (min-width: 320px) and (max-width: 1000px) {

  .subsubtitle, .searchbox {
    width: 40%;
  }

  .title {
    font-size: 30px;
  }
  
}