@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Iso&display=swap');

:root {
  --theme-font-main: 'Roboto Mono';
  --theme-font-nft: 'Rubik Iso', cursive;
  --theme-font-secondary: 'Monofett', cursive;

  --theme-color-main: #00ffb3;
  --theme-color-secondary: #ffffff;
  --theme-color-contrast: ##242424;
  
  --theme-bg-main: #25293c;
  --theme-bg-highlite: #00ffb350;
  --theme-bg-contrast: #ffffff;
  --theme-bg-subtitle: #ebf4ff50;

  --scroll-track: rgba(37, 41, 60, 1);
  --scroll-thumb: rgba(34, 39, 46, 1);
  --scroll-hover: rgba(20, 23, 33, 1);
}
